* {
  font-size: 1.25em;
  font-weight: bold;
}

button {
  background-color: #EEEEEE;
  height: 57px;
  width: 94px;
  margin-left:2px;
  margin-top: 5px;
  border-radius: 8px;
  box-shadow: none;
}

body {
  background-color:white;
}

.operator{
  background-color: #008CBA;
  color: white;
}

.right-button{
  float: right;
}

#all{
  border: solid 1px;
}

#calculator {
  border: solid 1px;
  width: 410px;
  height: 423px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 7px;
}

#displayarea {
  border: solid 1px;
  height: 90px;
  width: 408px;
  display: block;
  background-color: #d5e8b9;
  border-radius: 8px;
}

#equals{
  background-color: #E99B48;
}

#keys {
  border: solid 1px;
  margin: auto;
  margin-top: 10px;
}

#dispAns {
  border: solid 1px;
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 6px;
}

#expression {
  border: solid 1px;
  display: block;
  width: 100%;
  font-size: 0.7em;
  font-weight: bold;
  margin-right: 6px;
}

#equals{
  width: 197px;
}
