#calculator {
  background-color: #525252;
  border: solid black 2px;
  width: 400px;
  height: 510px;
  margin: auto;
  margin-top: 100px;
}

#displayarea {
  height: 100px;
  width: 100%;
  border: solid black 2px;
  display: block;
  background-color: #d5e8b9;
}

#equal{
  color: white;
  background-color: #E99B48;
}

#keys {
  margin: auto;
}
button {
  background-color: #EEEEEE;
  height: 100px;
  width: 94px;
  margin-left:2px;
}

body {
  background-color:orange;
}
