* {
  font-size: 1.25em;
  font-weight: bold;
}

button {
  background-color: #EEEEEE;
  height: 57px;
  width: 94px;
  box-shadow: none;
  margin-top:6px;
}

body {
  background-color:white;
}

footer{
  display:block;
  font-size: 0.85em;
}

footer a{
  font-size: 1em;
}

.operator{
  background-color: #008CBA;
  color: white;
}

.right-button{
  float: right;
}

#calculator {
  width: 410px;
  height: 423px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 7px;
}

#displayarea {
  height: 78px;
  width: 399px;
  display: block;
  background-color: #d5e8b9;
  margin-left: 5px;
  text-overflow: clip;
}

#equals{
  background-color: #E99B48;
}

#keys {
  padding-left: 5px;
}

#dispAns {
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 6px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: auto;
}

#expression {
  display: block;
  width: 100%;
  font-size: 0.7em;
  font-weight: bold;
  padding-right: 6px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: auto;
}

#equals{
  width: 197px;
}
